@font-face {
    font-family: "Tungsten-Bold";
    font-style: bold;
    src: url(fonts/Tungsten-Bold.woff);
}


body {
    background-color: #ece8e1;
    margin: 0;
    padding: 0;
}

h1 {
    font-family: "Tungsten-Bold", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 6em;
}

h2, h3 {
    color: #ff4655;
}

h2 {
    font-family: "Tungsten-Bold", sans-serif;
    font-size: 3em;
}

h3 {
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
}

p {
    font-family: "Open Sans", sans-serif;
}


nav {
    background-color: black;
    overflow: hidden;
    position: fixed;
    width: 100%;
    z-index: 5;
}

.banner {
    height: 50vh;
    background-image: url(images/banner.jpeg);
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#logo {
    width: 6%;
    height: 6%;
    padding-right: 2vw;
}

ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    list-style: none;
}

ul.pagenav {
    gap: 1vw;
    padding-top: 1vw;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
}

li a:hover {
    background-color: #cd3744;
}

li a.pagenav {
    background-color: #ff4655;
    transition: transform 0.1s;
}

li a.pagenav:hover {
    background-color: #ff99a1;
    transform: scale(1.1);
}

.active {
    background-color: #ff4655;
}

main {
    padding: 6vh;
}

article {
    padding-top: 1vw;
}

iframe {
    width: 100%;
    height: 70vh;
}

.bold {
    font-weight: bold;
}

.underline {
    text-decoration: underline;
}

.agentroles table tr td {
    padding: 1vw;
}

.agentroles table tr th {
    background-color: #ff4655;
    color: white;
}

.agentroles table tr td:hover {
    background-color: #ff99a1;
}

details {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    padding: 1vw;
}

summary {
    font-size: large;
}

table {
    width: 100%;
    padding: 1vw;
    table-layout: fixed;
    font-family: "Open Sans", sans-serif;
}

td {
    font-weight: normal;
}

table {
    margin-top: 1vw;
}

table, th, td {
    border: 1px black solid;
    border-collapse: collapse;
    padding: 1vh;
}

.agent > img {
    width:  90%;
}

details table td {
    padding: 1vw;
    text-align: center;
}

details table td:hover, details table th:hover {
    background-color:whitesmoke;
}

table td ul {
    display: block;
}

table td li {
    display: list-item;
    list-style-type: none;
}

.othergamemodes, .weaponsdirectory, .store, .agentroles, .gamesenseskills {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    margin-bottom: 8vh;
}

.othergamemodes p {
    width: 33%;
    border-style: solid;
    border-width: 1px;
    padding: 1vw;
}

.weaponsdirectory table tr td:hover {
    background-color: lemonchiffon;
}

#store {
    width: 50vw;
    height: 28.9vw;
}

.gunsheading, .rolesheading {
    height: 2vh;
}

.guns {
    width: 10vw;
    margin: auto;
    position: relative;
    left: calc(50% - 5vw);
    z-index: 1;
}

.gunstext {
    text-align: center;
}

@keyframes mapsmovement {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.carousel {
    overflow: hidden;
    padding-top: 10vh;
    padding-bottom: 10vh;
    white-space: nowrap;
}

.mapsscroll {
    animation: 30s mapsmovement infinite linear;
    display: inline-block;
}

img.maps {
    height: 25vh;
    margin: 0 1vw;
    z-index: -2;
    position: relative;
}

.gamesense {
    font-weight: bold;
}

.gsthirds {
    width: 33.33%;
}

footer {
    background-color: black;
    margin: 0;
    padding: 0;
    color: white;
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    font-size: large;
}

#gameplay, #gamemechanics, #skills, #sup1 {
    position: relative;
    top: -10vh;
}